alias vim='nvim'

alias testall='yarn test --all'
alias testper='yarn test --packages performance'
alias testedc='yarn test --packages edc-web'

alias typeall='yarn typecheck --all'
alias typeedc='yarn typecheck --packages edc-web'
alias typepes='yarn typecheck --packages pes-web'

alias uiper='yarn dev --packages performance --agency performance.qa.evidence.com'
alias uiedc='yarn dev --agency vietnamui.qa.evidence.com'
alias uipes='yarn dev --agency vietnamui.qa.evidence.com --packages pes-web'

alias buildedc='NODE_OPTIONS="--max-old-space-size=4096" lerna run build --scope @axon/edc-web'
alias buildpes='yarn build --packages pes-web'

