[user]
	email = trungn@axon.com
	name = Trung Nguyen
[core]
	editor = nvim
	excludesfile = /Users/trungn/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/trungn/.stCommitMsg
[hub]
	host = git.taservs.net
